body {
    margin: 0;
    padding: 0;
  }

  main {
    padding: 12px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    grid-auto-flow: column;
    grid-auto-flow: row;
  }

  /* .grid-item {
    width: 100%;
  } */

  a {
    color: #130080;
    text-decoration: none;
  }

  .a:hover {
    background-color: yellow;
  }

  .grid-item{
    color: darkviolet;
  }

  h1 {
    color: solid rgba(89, 0, 255, 0.507);
  }

  footer {
    padding: 12px;
    background-color: green;
  }

  img {
    height: 200px;
  }

  .img:hover {
    background-color: orangered;
  }

  nav {
    background-color: rgb(25, 161, 55);
    border-bottom: 2px black;
    padding: 16px;
  }
